{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <div>
		<a href="#"><span class="fa-brands fa-instagram"></span>Instagram</a>
		<a href="#">Email or phone number</a>
		<a href="#"><span class="fa-solid fa-eye"></span>Password</a>
		<a href="#">Login</a>
		<a href="#">Forgot password</a>
		<a href="#">Create new account</a>
	</div>
</body>
</html>